*{
	padding: 0;
	margin: 0;
}
ul,li{
	list-style: none;
}
.box{
	width: 1200px;
	height: 380px;
	border: 1px solid #ffffff;
	margin: 3px auto;
	position: relative;
	overflow: hidden;
}
.text1{
	height: 20px;
	width: 1400px;
	background-color: #f0f0f0;
	border: 1px solid #ffffff;
	margin: 40px auto;
	position: relative;
	overflow: hidden;
	}
.text2{
	width: 1200px;
	position: absolute;
	left: 0px;
}
.img1{
	position:absolute;
	overflow: hidden;
	margin-left:250px;
}
.p1{
	font: bold 12px/20px arial,sans-serif;
	color: red;
	width:800px;
	overflow: hidden;
	margin-left:800px;
}
.slider{
	width: 8400px;
	position: absolute;
	left: -1200px;
}
.slide{
	width:1200px;
	overflow: hidden;
	float: left;
}
.box>span{
	display: block;
	width: 30px;
	height: 50px;
	text-align: center;
	cursor: pointer;
	color:;
	top: 115px;
	line-height: 50px;
	background: rgb(255, 0, 0);
	font-size: 30px;
	position: absolute;
	opacity: 0;
}
#left{
	left: 50px;
}
#right{
	right: 50px;
}
.nav{
	position: absolute;
	left: 500px;
	bottom: 20px;
}
.nav>li{
	float: left;
	width: 20px;
	height: 20px;
	background: #ccc;
	color:red;
	cursor: pointer;
	margin: 10px 10px;
	border-radius: 50%;
	text-align: center;
}
.nav.active{
	background:red;
	color:red;
}
